.iconpicker-bg {
  background-color: var(--theme-color-bg-2);
}

.iconpicker-header {
  background-color: var(--theme-color-bg-4);
  flex: 0 0 26px;
  line-height: 30px;
  padding-left: 10px;
}

.iconpicker-search-header {
  background-color: var(--theme-color-bg-4);
}

.iconpicker-iconset-header {
  background-color: var(--theme-color-bg-4);
  flex: 0 0 26px;
  line-height: 30px;
  padding-left: 10px;
}

.iconpicker-label {
  color: var(--theme-color-fg-muted);
}

.iconpicker-search-input {
  background-color: var(--theme-color-bg-5);
  color: var(--theme-color-fg-default-contrast);
  border: none;
  display: block;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  font: 12px var(--font-family);
}

.iconpicker-icon {
  color: var(--theme-color-fg-highlight);
  width: 24px;
  height: 24px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
