.Root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Topbar {
  height: 36px;
  flex-shrink: 0;
  background-color: var(--theme-color-bg-2);
  border-bottom: 2px solid var(--theme-color-bg-1);
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}

.Status {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 8px;
  min-width: 0;
}

.Canvas {
  flex: 1;
  min-height: 0;
  position: relative;
}
