.Root {
  padding: 0 2px 2px 0;
  border: 0;
  background: transparent;
  width: 24px;
  height: 100%;
  cursor: nwse-resize;

  fill: var(--theme-color-fg-muted);

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
