.Root {
  display: flex;
  align-items: center;
  gap: var(--theme-spacing-4);
  padding: var(--theme-spacing-3) var(--theme-spacing-4);
  border-bottom: 1px solid var(--theme-color-border-default);
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--theme-color-bg-3);
  }

  &:active {
    background-color: var(--theme-color-bg-4);
  }
}

.Column {
  display: flex;
  align-items: center;
  gap: var(--theme-spacing-2);
  overflow: hidden;
}

.Actions {
  opacity: 1;
  transition: opacity 0.2s ease;
}
