/* -------------------------------------------------------------------
  Deploy popup
   ------------------------------------------------------------------- */
.deploy-header {
  padding: 3px;
  padding-left: 10px;
  background-color: var(--theme-color-bg-3);
  color: var(--theme-color-fg-default-contrast);
}

.deploy-tabs {
  display:flex;
  margin: -9px -9px 0px;
}

.deploy-tab {
  margin: 1px;
  background-color: var(--theme-color-bg-3);
  color: var(--theme-color-fg-default-shy);
  flex-grow: 1;
  height:40px;
  text-align: center;
  line-height:40px;
}

.deploy-tab.selected {
  background-color: var(--theme-color-bg-1);
  color: var(--theme-color-fg-highlight);
}

.deploy-tab-content {
  padding: 10px;
  display:flex;
  flex-direction: column;
}

.deploy-desc {
  color: var(--theme-color-fg-default);
}

.deploy-input-header {
  color: var(--theme-color-fg-default-contrast);
  font-size: 14px;
  margin-top:20px;
  margin-bottom:2px;
}

.deploy-input-label {
  color: var(--theme-color-fg-default-shy);
  margin-bottom:2px;
}

.deploy-delimiter {
  margin-top:20px;
  background-color: var(--theme-color-border-default);
  height:1px;
  width:1000px;
  margin-left:-20px;
}

.deploy-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-bg-2);
  height: 30px;
  color: var(--theme-color-fg-default-contrast);
  font-family: var(--font-family);
}

.deploy-textarea {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-bg-2);
  height: 70px;
  color: var(--theme-color-fg-default-contrast);
  font-family: var(--font-family);
}

.deploy-button {
  background-color: var(--theme-color-primary);
  color: var(--theme-color-on-primary);
  height:30px;
  line-height:30px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  padding-left:20px;
  padding-right:20px;
}

.deploy-button:hover {
  background-color: var(--theme-color-primary-highlight);
}

.deploy-button.disabled {
  background-color: var(--theme-color-bg-3);
  color: var(--theme-color-fg-default-shy);
}

.deploy-cloud-item {
  display:flex;
  padding:10px;
  border-top: 1px solid var(--theme-color-bg-3)
}

.deploy-cloud-item.top {
  border-top: none;
}

.deploy-cloud-item-thumb {
  width:72px;
  height:72px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right:10px;
  flex-shrink: 0;
}

.deploy-cloud-desc {
  display:flex;
  flex-direction: column;
}

.deploy-cloud-item-label {
  color: var(--theme-color-fg-default-contrast);
  margin-bottom: 3px;
  word-break: break-all;
}

.deploy-cloud-item-desc {
  word-break: break-all;
  color: var(--theme-color-fg-default-shy);
  margin-bottom: 3px;
  flex-grow:1;
  flex-shrink:1;
  margin-right:20px;
  word-break: break-all;
}

.deploy-cloud-item-url {
  color: var(--theme-color-fg-default-contrast);
  background-color: var(--theme-color-bg-3);
  padding:3px;
  display:flex;
  align-items: center;
}

.deploy-cloud-item-url:hover {
  color: var(--theme-color-fg-highlight);
}

.deploy-clipboard-icon {
  content:url("../assets/icons/clipboard.svg");
  width:14px;
  height:14px;
  opacity:0.6;
  margin-left:10px;
}

.deploy-cloud-item-url:hover .deploy-clipboard-icon {
    opacity:1;
}

.deploy-cloud-item-controls {
  visibility: hidden;
}

.deploy-cloud-item:hover .deploy-cloud-item-controls {
  visibility: visible;
}

.deploy-cloud-item-button {
  color: var(--theme-color-fg-default-shy);
  background-color: var(--theme-color-bg-3);
  padding:2px;
  padding-left:10px;
  padding-right:10px;
}

.deploy-cloud-item-button:hover {
  color: var(--theme-color-fg-default-contrast);
}

.deploy-lock-icon {
  content:url("../assets/icons/lock.svg");
  width:12px;
  height:12px;
  position:relative;
  top:-2px;
}




  .deploy-item {
     margin-bottom: 10px;
  }

  .deploy-item.expanded {
    padding-bottom: 30px;
  }

  .deploy-item-thumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  .deploy-item-disabled {
    opacity: 0.6;
  }

  .deploy-item-name {
    font-size: 12px;
    color: var(--theme-color-fg-highlight);
  }

  .deploy-item-desc {
    font-size: 12px;
    color: var(--theme-color-fg-default);
  }

  .deploy-url {
    color: var(--theme-color-fg-default-contrast);
    font-size: 12px;
  }

  .deploy-item:hover {
    background-color: var(--theme-color-bg-4);
  }

  .deploy-item-button {
    display:none;
    font-size: 11px;
    color: var(--theme-color-fg-muted);
    background-color: var(--theme-color-bg-2);
    padding: 1px 10px 1px 10px;
  }

  .deploy-item:hover .deploy-item-button {
    display:block;
  }

  .deploy-item-button:hover {
    color: var(--theme-color-fg-highlight);
  }

  .deploy-item-hover-icon {
    display: none;
    color: var(--base-color-neutral-100);
    background-color: var(--theme-color-bg-4);
    padding: 3px 5px;
  }

  .deploy-item-hover-icon:hover {
    display: none;
    color: var(--theme-color-fg-default);
  }

  .deploy-item:hover .deploy-item-hover-icon {
    display:block;
  }

  .deploy-selectable {
    user-select: text;
  }

