/* -------------------------------------------------------------------
  Cloud services popup
   ------------------------------------------------------------------- */
.csp-header {
  padding: 3px;
  padding-left: 10px;
  background-color: var(--theme-color-bg-5);
  color: var(--theme-color-fg-default);
}

.csp-title {
  color: var(--theme-color-fg-default);
  font-size: 14px;
}

.csp-sub-title {
  color: var(--theme-color-fg-default-shy);
  font-size: 12px;
}

.csp-desc {
  color: var(--theme-color-fg-default-shy);
}

.csp-button {
  background-color: var(--theme-color-notice);
  color: var(--theme-color-bg-0);
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: var(--font-family-bold);
  padding-left: 20px;
  padding-right: 20px;
}

.csp-button:hover {
  background-color: var(--theme-color-notice-hover);
}

.csp-button.disabled {
  background-color: var(--theme-color-bg-5);
  color: var(--theme-color-fg-default-shy);
}

.csp-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-bg-2);
  height: 30px;
  color: var(--theme-color-fg-default);
  font-family: var(--font-family-regular);
}
