/* -------------------------------------------------------------------
   Update available
   ------------------------------------------------------------------- */
.updatepopup-group-label {
  display: block;
  color: var(--theme-color-fg-default-shy);
  background-color: var(--theme-color-bg-4);
  padding: 5px;
}

.updatepopup-message {
  display: block;
}

.updatepopup-button {
  background-color: var(--theme-color-notice);
  border: none;
  color: var(--theme-color-bg-0);
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.updatepopup-button:hover {
  background-color: var(--theme-color-notice-hover);
}

.updatepopup-button-grey {
  border: none;
  background-color: var(--theme-color-bg-5);
  color: var(--theme-color-fg-default-shy);
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
}

.updatepopup-button-grey:hover {
  background-color: var(--theme-color-border-strong);
}
